/*  shared styles here */
body{
  font-family: 'Lato', sans-serif;
}

.btn-primary{
  background: #E55473;
  border-radius: 8px;
  display: inline-flex;
  padding: 10px 33px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

/* header style start */
.nav-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: palevioletred;
}
.home{
  display:flex;
}
.flo{
  height: 70px;
}
ul{
  display: flex;
  font-size: 20px;
  gap: 30px;
  list-style: none;
}

.of{
  color: white;
}

.banner{
  background: rgba(229, 84, 115, 0.10);
  padding: 40px;
}

.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content{
  padding: 40px;
}

.banner-title {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  display: flex;
  width: 708px;
  flex-direction: column;
  margin-bottom: 10px;
}

.banner-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: 634px;
  flex-direction: column;
}

.banner-photo{
  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

.second{
  justify-content: center;
  align-items: center;
}
.second-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.second-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: 594px;
  flex-direction: column;
}

/* main styles here */
.featured-title{
  text-align: center;
  margin: 150px;
}

.flower-container{
  display: inline-flex;
  margin-top: 50px;
  gap: 15px;
}

.fs{
  border-radius: 300px 300px 0px 0px;
  width: 250px;
  height: 350px;
  padding: 70px 40px 0px 40px;
}
#fs1{
  background: rgba(167, 33, 98, 0.15);
}
#fs2{
  background: rgba(5, 151, 160, 0.15);
}
#fs3{
  background: rgba(71, 125, 17, 0.15);
}

.deal{
  display: flex;
  background: rgba(229, 84, 115, 0.05);
  gap: 200px;
  padding: 100px 0px;
  justify-content: center;
}
.off{
  color: #E55473;
}
.left{
  margin-top: 120px;
  text-align: center;
}

.img-content{
  margin: 25px;
  display: inline-flex;
}

.flower-pic{
  width: 220px;
  height: 270px;
  padding: 0px 6px;
}
.deals{
  text-align: center;
  margin-bottom: 200px;
  padding: 200px 0px;
  background-image: url('../Flower\ Asset/Rectangle 9.png');
  background-repeat: no-repeat;
  border-radius: 10px;
}

#email{
  padding: 15px;
  border: none;
  width: 40%;
  border-radius: 8px;
  margin-top: 20px;
}

.check{
  background-color: rgba(179, 7, 159, 0.319);
  text-align: center;
  padding: 100px 0px;
}
.article{
  display: flex;
  gap: 25px;
  justify-content: center;
  text-align: center;
}
/* footer styles here */
.last{
  background: whitesmoke;
  text-align: center;
  gap: 200px;
  padding: 100px 0px;
  justify-content: center;
}